  body {margin:0}
    div.table {display:table; margin:10px auto; color:#444; border:1px solid #A9A9A9; border-spacing:2px}
      div.row {display:table-row}
      div.row:first-child div.col {font-weight:700; text-align:center}
      div.row:nth-child(even) {background:#EDEDED}
      div.row:nth-child(odd) {background:#F7F7F7}
        div.col {display:table-cell; padding:5px; border:1px solid #DDD}
        div.col:nth-child(2) {text-align:center}
        div.col.blue {text-align:center; border-color:#4472B9; background:#B5C7E3}
        div.col.green {text-align:center; border-color:#4CA454; background:#B8DBBB}
        div.col.orange {text-align:center; border-color:#D49b00; background:#F3CFAA}
        div.col.red {text-align:center; border-color:#BE4C39; background:#E5B8B1}
        div.col.purple {text-align:center; border-color:#9351A6; background:#D4BADC}
          a {color:#444}
            a:hover {}
            div.col.blue ~ div > a:hover {color:#4472B9}
            div.col.green ~ div > a:hover {color:#4CA454}
            div.col.orange ~ div > a:hover {color:#D49b00}
            div.col.red ~ div > a:hover {color:#BE4C39}
            div.col.purple ~ div > a:hover {color:#9351A6}